github "yandex-money/core-api-swift.git" ~> 1.0
github "yandex-money/yandex-checkout-wallet-api-swift.git" ~> 1.0
github "yandex-money/yandex-checkout-payments-api-swift.git" ~> 1.0
github "yandex-money/yandex-checkout-showcase-api-swift.git" ~> 1.0
github "yandex-money/functional-swift.git" ~> 1.0

github "yandexmobile/metrica-sdk-ios" ~> 3.1.2
github "yandexmobile/yandex-login-sdk-ios" ~> 2.0.0

github "MetalheadSanya/When" "master"
github "card-io/card.io-iOS-source" ~> 5.4.1
